


#topDrinks{
    width: 99%;

}

#outer{

    display: flex;
    align-items: center;

    margin: 0px;
    padding: 0px;

}

#bar{

    display: flex;
    gap: 4px;
    /* margin-inline: 40px; */
    /* width: 84%; */
    /* max-width: 1200px; */
    /* height: 400px; */
    height: 46vmin;
    overflow-x: scroll;
    align-items: center;
    scroll-behavior: smooth;
    position: relative;

}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */}



.cardd{
    
    display: flex;
    flex-direction: column;

    align-items: center;
}

.card{

    /* height: 299px; */
    transition:.4s;

    border-radius:4px;
    /* height: 14rem; */

    /* width: 29vmin; */
    height: 29vmin;

}

.card:hover{

    transition:.4s;
    /* height: 340px; */

    /* height:16rem; */
    height: 34vmin;

}
.card:hover + .drinkName{

    transition: .4s;
    opacity: 1;

    /* font-size: large; */
    margin: .2rem;

}

.drinkName{

    opacity: 0;
    transition: .4s;

    /* font-size: 0rem; */
    text-align: center;

    position: absolute;

}

.navButton{
    /* font-size: 2.6rem; */
    font-size: 6vmin;
    background-color: rgba(219, 219, 219, 0.753);
    border-radius: 50%;
    position:relative;
    padding-inline: 2vmin;/*12px*/
    /* padding-bottom: 5px; */
    padding-bottom: 1vmin;
    transition: .2s;
    cursor:default;
    z-index: 99;
}

.navButton:hover{

    transform: scale(1.1);
    transition: .2s;
}

#prevNav{
    left: 2vmin;}

#nextNav{
    right: 2vmin;}